pipeline/PL_azureqltoadlsmultipletableIncrementalloading.json
{
	"name": "PL_azureqltoadlsmultipletableIncrementalloading",
	"properties": {
		"activities": [
			{
				"name": "Lookup_tablemetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM TableMetadata\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_tablemetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_multipltetableincremental",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_tablemetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_tablemetadata').output.value\n",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup_watermarktable",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT WatermarkValue FROM Watermarktbl WHERE TableName = '@{item().TableName}'\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_watermark",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Lookup_deltacount",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Lookup_watermarktable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT\n    COUNT(*) AS DeltaCount,\n    MAX(@{item().WatermarkColumn}) AS MaxLastModifyTime\nFROM @{item().TableName}\nWHERE @{item().WatermarkColumn} >\n'@{activity('Lookup_watermarktable').output.firstRow.WatermarkValue}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_productssource",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup_deltacount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Lookup_deltacount').output.firstRow.DeltaCount, 0)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data azure sql to adls",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT *\nFROM @{item().TableName}\nWHERE @{item().WatermarkColumn} > '@{activity('Lookup_watermarktable').output.firstRow.WatermarkValue}'\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_productssource",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_producttarget",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@concat('incremental_data/', item().TableName, '/File=', pipeline().RunId, '.csv')  \n",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "update_watermarktable",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data azure sql to adls",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[update_watermarktbl]",
											"storedProcedureParameters": {
												"lastmodifytime": {
													"value": {
														"value": "@activity('Lookup_deltacount').output.firstRow.MaxLastModifyTime\n",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"TableName": {
													"value": {
														"value": "@item().TableName\n",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_productsasqldb",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}