pipeline/PL_azureqltoadls.json
{
	"name": "PL_azureqltoadls",
	"properties": {
		"activities": [
			{
				"name": "Lookup_products",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(lastmodifytime) as LastLoadDate from ProductSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_productssource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_watermarktable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_deltacount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_products",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_watermarktable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select count(1) as deltacount\nfrom ProductSource\nwhere lastmodifytime > '@{activity('Lookup_watermarktable').output.firstRow.WatermarkValue}'\nand \nlastmodifytime <= '@{activity('Lookup_products').output.firstRow.LastLoadDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_productssource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_deltacount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup_deltacount').output.firstRow.DeltaCount, 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data azure sql to adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from ProductSource\nwhere lastmodifytime > '@{activity('Lookup_watermarktable').output.firstRow.WatermarkValue}'\nand \nlastmodifytime <= '@{activity('Lookup_products').output.firstRow.LastLoadDate}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_productssource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_producttarget",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@concat('File=',pipeline().RunId)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update_watermarktable",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data azure sql to adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_watermarktbl]",
								"storedProcedureParameters": {
									"lastmodifytime": {
										"value": {
											"value": "@activity('Lookup_products').output.firstRow.LastLoadDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@activity('Lookup_watermarktable').output.firstRow.TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_productsasqldb",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}